body{
    background-color:rgb(97, 164, 190);
    font-family: 'Roboto', sans-serif;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #596d9f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transform: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
   color: #fff;
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 33px;
    
}

#mobile{
    display: none;
    align-items: center;
}


#close {
display: none;
}


.signup-box{
    width: 360px;
    height: 690px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login-box{
    width: 360px;
    height: 350px;
    background-color: white;
    border-radius: 3px;
    margin-top: 15%;
    margin-bottom: auto ;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    text-align: center;
    padding-top: 15px ;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display:flex;
    margin-top: 20px;
    font-size:18px ;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
.signup-box input[type="submit"]{
    width: 100%;
    border: none;
    margin-left: 8px;
    background-color:rgb(150, 209, 235) ;
    color: #000000;
    font-size: 18px;
}
.login-box input[type="submit"]{
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-left: 8px;
    background-color:rgb(150, 209, 235) ;
    color: #000000;
    font-size: 18px;
}
.gender label{
    display: contents;
    
}
.gender input{
    width:auto;
}
p{
    text-align: center;
    font-size: 17px;
}